<?xml version="1.0" ?>
<robot name="bsl_plotter" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver_default">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>
<material name="_">
  <color rgba="0.6274509803921569 0.6274509803921569 0.6274509803921569 1.0"/>
</material>

</robot>
